<template>
    <div v-if="posts.length > 0">
        <PostItem v-for="post in posts" :post="post" :key="post.id" @remove="$emit('remove', post)" />
    </div>
    <h2 v-else style="color: red">
        Not post!
    </h2>
</template>

<script>
import PostItem from "./post-item.vue";

export default {
    components: {
        PostItem
    },
    props: {
        posts: {
            type: Array,
            required: true
        }
    }
}
</script>

