<template>
    <form @submit.prevent>
        <h3>Create a new post</h3>
        <MyInput v-model="post.title" type="text" placeholder="Post name" />
        <MyInput v-model="post.body" type="text" placeholder="Post body" />
        <MyButton @click="createPost" style="align-self: flex-end; margin-top: 15px;">Create</MyButton>
    </form>
</template>

<script>
export default {
    data() {
        return {
            post: {
                title: "",
                body: ""
            }
        }
    },
    methods: {
        createPost() {
            this.post.id = Date.now()
            this.$emit("create", this.post)
            this.post = {
                title: "",
                body: ""
            }
        }
    }
}
</script>

<style scoped>
form {
    display: flex;
    flex-direction: column;
}
</style>