<template>
    <div class="app">
        <h2>Posts from programming language</h2>
        <MyButton @click="showModal" style="margin: 15px 0px;">Create post</MyButton>
        <MyModal v-model:show="modalVisible">
            <PostForm @create="createPost" />
        </MyModal>
        <PostList :posts="posts" @remove="removePost" />
    </div>
</template>

<script>
import PostForm from "@/components/post-form.vue";
import PostList from "@/components/post-list.vue";

export default {
    components: {
        PostForm, PostList
    },
    data() {
        return {
            posts: [
                { id: 1, title: "Vue 1", body: "Vue body 1" },
                { id: 2, title: "Vue 2", body: "Vue body 2" },
                { id: 3, title: "Vue 3", body: "Vue body 3" }
            ],
            modalVisible: false
        }
    },
    methods: {
        createPost(post) {
            this.posts.push(post)
            this.modalVisible = false
        },
        removePost(post) {
            this.posts = this.posts.filter(p => p.id !== post.id)
        },
        showModal() {
            this.modalVisible = true
        }
    }
}
</script>

<style>
.app {
    padding: 20px;
}
</style>