.modal {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    display: flex;
}

.modal__content {
    margin: auto;
    background: #242424;
    border-radius: 12px;
    min-height: 50px;
    min-width: 300px;
    padding: 20px;
}